<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cadastroFornada.css}">
</head>
<body>

    <div>
        <a th:href="@{/}">Voltar ao menu principal</a>
            <div id="container-botoes">
                <span th:each="pao : ${listaPaes}">
                     <form th:action="@{/registrarFornada}" method="POST">

                         <input type="hidden" name="id" th:value="${pao.getId()}">

                        <button type="submit" th:text="${pao.getTipoPao()}"></button>
                     </form>
                </span>
            </div>
    </div>

</body>
</html>