<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cadastroPao.css}">
    <script defer="defer"th:src="@{css/js/cadastroPao.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
 </head>
<body>


   <a class="botao-voltar" th:href="@{/}">Voltar ao menu principal</a>

  <div class="modal-confirm">
    <h2>Cadastrar Pao</h2>

    <form class="container" method="POST" th:action="@{/}" th:object="${pao}">

      <label for="tipoPao">Tipo de Pao: </label>
      <input type="text" name="tipoPao" id="tipoPao">

      <label for="descricao">Descricao do Pao: </label>
      <input type="text" name="descricao" id="descricao">

      <label for="tempoPreparo">Tempo de Preparo: </label>
      <input type="number" id="tempoPreparo" name="tempoPreparo" min="0" max="59">

      <button type="submit">Enter</button>

    </form>

  </div>

  <table class="paes">
    <caption>Lista de Paes</caption>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Tempo de Preparo</th>
      <th>Acoes</th>
    </tr>
    </thead>

    <tr>
    <tr th:each="pao : ${paes}">
      <td th:text="${pao.tipoPao}"></td>
      <td th:text="${pao.descricao}"></td>
      <td th:text="${pao.tempoPreparo}"></td>
      <td>
        <a th:href="@{/alterarPao(id=${pao.id})}"><button>Atualizar</button></a>
      </td>
    </tr>
    </tr>

  </table>

</body>
</html>