<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Pao Kentin</h1>

    <div class="container">
        <a th:href="@{/cadastroPao}">Cadastrar Pao</a>
        <a th:href="@{/fornadas}">Iniciar Fornadas</a>
        <a th:href="@{/listagemFornadas}">Visualizar Fornadas</a>
    </div>

</body>
</html>